html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Libre Franklin', sans-serif;
    background-color: #ffffff;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("https://shared.acdh.oeaw.ac.at/rita-vfbr/tla-aktenserie-lg-mieders-fasz-7-pos-5-004.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}


.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.navbar {
	border-bottom: 5px solid gray;
}

.navbar .navbar-brand img {
    max-height: none;
    height: 5rem;
}

span.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 16px; }

/*remove round corners everywhere*/
/** {
  border-radius: 0 !important;
}*/
.card {
    overflow: visible;
    border: 0 solid rgba(0,0,0,.125);
    /*box-shadow: 16px 19px 9px 0px #866161;*/
    /*box-shadow: 16px 19px 9px 0px #bfbfbf;*/
    /* box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1); */
    /*box-shadow: 2px 2px 24px 0 rgba(0, 0, 0, .1);*/
}

.site-page {
    background-color: #003399;
    color: white;
}
.archent-page {
    background-color: #9FAEE5;
    color: white;
}
.researchevent-page {
    background-color: #abd91aff;
    color: white;
}
.monumentprotection-page {
    background-color: #fbbf18ff;
    color: white;
}

a {
    color: #b08968;
}

header {
    flex: 0 0 auto;
}

.main-content{
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    background-color: #f8f8f8;
    padding: 20px;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 30px;
}

/*custom acdh logo css*/

#acdh-logo {
    width: 25%;
    height: auto;
    padding: 10px 0 10px 0;
}

#github-logo {
    width: 10%;
    height: auto;
    padding: 10px 0 10px 0;
}


@media (max-width: 768px) {
    #acdh-logo, #orea-logo {
        width: 15%;
    }
    #github-logo {
        width: 7%;
    }
}

@media (min-width: 768px) and (max-width: 1105px) {
    .navbar-right {
        float: none !important;
    }
}

/*Button's text is all in caps and bold. When adding html markup text should be all in lowercase. */
.btn {
   /* font-weight: bold;
    font-variant: small-caps;*/
    white-space: normal;
    margin-bottom: 10px;
}
.separate-panel legend, .legend-blue {
    /*change color of border when the pallete is chosen*/
    border: 2px solid #caebf2;
    background-color: #caebf2;
    /*color: #ffffff;*/
    padding: 5px;
}
.select2-container {
 /*   width: 100%;*/
}

/* css for checkbox widget in filters */
.chbx-select-multi {
  /* 1.5-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.8); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
  margin: 5px 10px 5px 10px;
  border: 1px solid #aaa;

}
/*overriding css for field labels, helptext in filters*/
.control-label {
    font-weight: 600;
}
.help-block {
    font-size: 0.8rem;
}
.card-index {
    padding: 80px;
    z-index: 1;
    /*margin-top: -900px;*/
    margin-top: -80px;

}
.title-index {
    font-weight: 900;
    color: #254aa5;
    font-size: 350%;
}
@media (max-width: 768px) {
    .card-index {
        padding: 30px !important;
    }
    .title-index {
    font-weight: 900;
    font-size: 200% !important;
}

}

.paragraph-index {
    font-weight: 900;
}
.hr-index {
    height: 4px;
    border: 0;
    background: #254aa5;
    width: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.h2-index {
    color:#254aa5;
    font-weight: 800;
    text-align: center;
}
#yourmap {
    z-index: 0;
    /*min-height: 1000px;*/
   /* min-height: 450px;*/
}
.special-index {
    padding: 30px;
    border-radius: 50%;
    background-color: #fbbf18ff;
    color: #fff;
    font-weight: 800;
    margin-left: -80px;
    margin-top: -450px;
    width: 10rem;
    height: 10rem;
    z-index: 2;
}

.btn-index {
    margin-top: 5px;
    margin-bottom: 0px;
    /*margin-left: 10px;
    margin-right: 10px;*/
    background-color: #ffffff;
    color: #254aa5;
    border: 3px solid #254aa5;
    font-weight: 800;
    white-space: normal;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0px 0px 0px 0px #254aa5;
    transition: box-shadow 0.6s linear;
}

.btn-index:hover {
   box-shadow: 0px 0px 0px 2px #254aa5;

}


.tooltip-inner {
  background-color: #fff !important;
  /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
  color: #000;
  border: 1px solid #000;
  text-align: left;
  max-width: auto;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #fff;
  color: #fff;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #000;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #000;
}

a > .fa-2x {
    color: #444;
}


.btn {
  color: white;
  background-color:#b08968;
  border-color:#b08968;
}

.filter-option {
  color:white
}


/* Modifikations of Transkribus-App */
.transkribus_collection-description {
  display:none;
}

.transkibus_search-button {
  background-color:#b08968;
  border-color:#b08968;
}

.transkibus_search-button:hover {
  background-color:#b08968;
  border-color:#b08968;
}

.transkibus_search-button:active {
  background-color:#b08968;
  border-color:#b08968;
}

.transkribus_hit-info-collection {
  display: none;
}

.transkribus_hit-info-doc-id {
  display: none;
}

.transkribus_kwic {
  order:2;
}

.transkribus_kwic::before {
  content:"…";
}

.transkribus_kwic::after {
  content:" …";
}

.transkribus_kwic em {
  color: #b08968;
  font-weight: bold;
}

.transkribus_facets-list {
  list-style: none;
  padding-left: 0px;
}

.transkribus_hit-info {
  list-style:none;
  margin-bottom: 0.3em;
  padding-left: 0px;

}


.transkribus_hit-info-doc {
  font-weight: bold;
  display: inline;
}

.transkribus_hit-info-page {
  display: inline;
}

.transkribus_hit {
  /* border-bottom:3px solid #b08968; */
  margin-bottom: 1em;
  display: flex;
  flex-flow: column;
}

.transkribus_hit-info-doc .transkribus_hit-info-label, .transkribus_hit-info-separator {
  display: none;
}


.transkribus_facets-container {

}

.breadcrumb {
  /* background-color: #b0896869; */
  background-color:white;
  font-weight: bolder;
}

.transkribus_hits .card-header {
  display: none;
}


.transkribus_facets-container .card-header {
  display: none;
}

.transkribus_facets-container .card-body h3 {
  display: none;
}

.transkribus_hits-container .card-header h1 {
  font-size: inherit;
}


.card {
    overflow: visible;
    margin-bottom: 20px;
}

a {
    color: #b08968;
}

a:not([href]):not([tabindex]) {
    color: #bd0000;
    text-decoration: none;
}

.help-block {
	font-size: 0.9em;
}
.create-label {
	font-weight: 700;
}


.highlighted {
  background-color: #ffc107;
}
