{% extends "browsing/generic_detail.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block custom %}
<div class="card">

    <div class="card-body">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    {% get_verbose_name anmerkungen "text" %}
                </th>
                <td>
                    {{ object.text }}
                </td>
            </tr>
            <tr>
                <th>
                    {% get_verbose_name anmerkungen "public" %}
                </th>
                <td>
                    {{ object.public }}
                </td>
            </tr>
            <tr>
                <th>
                    {% get_verbose_name anmerkungen "entry" %}
                </th>
                <td>
                    <a href="{{ object.entry.get_absolute_url }}">{{ object.entry }}</a>
                </td>
            </tr>

        </table>
    </div>
</div>
{% endblock %}
