{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block custom %}
<div class="card">

    <div class="card-body">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    {% get_verbose_name inventoryentry "inv_type" %}
                </th>
                <td>
                    {{ object.inv_type }}
                </td>
            </tr>
            <tr>
                <th>
                    {% get_verbose_name inventoryentry "vollstaendig" %}
                </th>
                <td>
                    {{ object.vollstaendig }}
                </td>
            </tr>
            <tr>
                <th>
                    {% get_verbose_name inventoryentry "is_located_in" %}
                </th>
                <td>
                    <a href="{{ object.is_located_in.get_absolute_url }}">{{ object.is_located_in }}</a>
                </td>
            </tr>
            <tr>
                <th>
                    {% get_verbose_name inventoryentry "main_person" %}
                </th>
                <td>
                    {% for x in object.main_person.all %}
                        <li>
                            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                        </li>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>
                    Erwähnte Personen (Verwaltung)
                </th>
                <td>
                    {% for x in object.adm_person.all %}
                        <li>
                            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                        </li>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>
                    Erwähnte Personen (Verwandtschaft)
                </th>
                <td>
                    {% for x in object.related_person.all %}
                        <li>
                            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                        </li>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>
                    Genannte Personen
                </th>
                <td>
                    {% for x in object.other_person.all %}
                        <li>
                            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                        </li>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <legend>
            Origanl Datensatz
        </legend>
        <table class="table table-bordered table-hover">
            {% for key, value in orig_data.items %}
                <tr>
                    <th>
                        {{ key }}
                    </th>
                    <td>
                        {{ value }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if object.annotations %}
            <legend>Annotationen</legend>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Maschine
                        </th>
                        <th>
                            Mensch
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in object.annotations.all %}
                        <tr>
                            <td>
                                <a href="{{ x.get_absolute_url }}">entities</a>
                            </td>
                            <td>
                                {{ x.entity_json|safe }}
                            </td>
                            <td>
                                {{ x.entity_checked|safe }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
