{% extends "browsing/generic_detail.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block custom %}
<div class="card">

    <div class="card-body">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    Vollregest
                </th>
                <td>
                    {{ object.vollregest}}
                </td>
            </tr>
            <tr>
                <th>
                    Typ
                </th>
                <td>
                    {{ object.adm_action_type }}
                </td>
            </tr>
            <tr>
                <th>
                    Verfachbuch
                </th>
                <td>
                    <a href="{{ object.located_in.get_absolute_url }}">{{ object.located_in }}</a>
                </td>
            </tr>
            <tr>
                <th>
                    Erwähnte Personen
                </th>
                <td>
                    {% for x in object.mentioned_person.all %}
                        <li>
                            <a href="{{ x.get_absolute_url }}">{{ x }}</a>
                        </li>
                    {% endfor %}
                </td>
            </tr>
        </table>
        {% if object.annotations %}
            <legend>Annotationen</legend>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Maschine
                        </th>
                        <th>
                            Mensch
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in object.annotations.all %}
                        <tr>
                            <td>
                                <a href="{{ x.get_absolute_url }}">entities</a>
                            </td>
                            <td>
                                {{ x.entity_json|safe }}
                            </td>
                            <td>
                                {{ x.entity_checked|safe }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
