{% extends "browsing/generic_detail.html" %}
{% load static %}
{% load webpage_extras %}
{% block title %}{{ object }}{% endblock %}
{% block custom %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Kurzbio und Funktionen</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        {% get_verbose_name person "source" %}
                    </th>
                    <td>
                        {{ object.source }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_name person "rel_type" %}
                    </th>
                    <td>
                        {{ object.rel_type }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {% get_verbose_name person "target" %}
                    </th>
                    <td>
                        {{ object.target }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock custom %}
