{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load stats_extras %}
{% load webpage_extras %}
{% block content %}

        <div class="jumbotron" style="background-image: url({% static 'webpage/img/project_background.jpg' %}) ">
            <div class="container">
                <h1 style="text-align:center; color: #111;">{% projects_metadata 'title' %}</h1>
                <h3 style="text-align:center; color: #111;">{% projects_metadata 'subtitle' %}</h3>
                <h5 style="text-align:center; color: #111;">{% projects_metadata 'description' %}</h5>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form method="get" action="/search">
                <div class="form-row">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type="search" class="form-control form-control-lg" placeholder="Volltextsuche in den Regesten" name="q">
                  </div>
                  <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-block btn-lg btn-primary" style="background-color:#b08968; border-color:#b08968;">Los!</button>
                  </div>
                </div>
              </form>
            </div>
            <br />
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form method="get" action="{% url 'transkribus:trp_hits' %}">
                <div class="form-row">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type="search" class="form-control form-control-lg" placeholder="Volltextsuche in Verfachbüchern" name="query">
                  </div>
                  <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-block btn-lg btn-primary" style="background-color:#b08968; border-color:#b08968;">Los!</button>
                  </div>
                </div>
              </form>
            </div>
        </div>

    <div class="container">

    </div>
{% endblock %}
