{% extends "webpage/base.html" %}
{% load static %}
{% load webpage_extras %}
{% block content %}

<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto" style="background-color: #b09b7fb8; padding-top:3em">
        <h1 class="mb-5">Verfachbuch-Regesten</h1>
        <h1 class="mb-5">Mittleres Pustertal 1750-1800</h1>
        <p>
          <small>Foto © <a href="https://www.tirol.gv.at/kunst-kultur/landesarchiv/" style="color:white">Tiroler Landearchiv</a>, Landgericht Mieders, Aktenserie Fasz. 7, Pos. 5 (Inventare 1754), Nr. 29 (Inventar des Urban Sachser), Blatt
            3v-4r.“</small>
        </p>
      </div>
      <div class="col-md-12 mx-auto">
        <form method="get" action="{% url 'webpage:search_dist' %}" style="margin: 2em">
          <div class="form-row">
            <div class="col-md-4">
              <select class="custom-select custom-select-lg mb-3" name="where">
                <option value="vfb">Suche in Metadaten</option>
                <option value="ft">Suche in Volltexten</option>
              </select>
            </div>
            <div class="col-md-4">
              <input type="search" class="form-control form-control-lg" placeholder="z.B. 'Gasser'" required name="q">
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-block btn-lg btn-primary" style="background-color:#b08968; border-color:#b08968;">Los!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>

<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters justify-content-md-center">
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <p>
          Im Rahmen des von FWF und Land Tirol geförderten Projekts <a href="https://pf.fwf.ac.at/de/wissenschaft-konkret/project-finder/38419">„Lesen im Alpental. Privater Buchbesitz in Tirol 1750–1800“</a> wurden von Michael Span die Verfachbücher des Landgerichts St. Michaelsburg, des Stadtgerichts Brunecks sowie des Oberamtsgerichts Brunnecks für den Zeitraum 1750 bis 1800 fotografiert und für den eigenen Gebrauch gemeinsam mit Michael Prokosch mit Regesten versehen.
        </p>
        <p>
          Die vorliegende Website stellt diese ursprünglich nicht für die Veröffentlichung vorgesehenen Forschungsdaten nun der interessierten Öffentlichkeit zur Verfügung.
        </p>
        <p>
          Konkret werden drei Ebenen der Erschließung der Verfachbücher zugänglich gemacht, nämlich
          <ul>
            <li>
              die <a href="{% url 'webpage:staticpage' template='volltexte' %}">Faksimiles</a> samt automatisch, unter Verwendung von <a href="https://transkribus.eu/Transkribus/">Transkribus</a>, generiertem Volltext beziehungsweise Transkription,
            </li>
            <li>
              <a href="{% url 'webpage:staticpage' template='regesten' %}">Kurzregeste</a> zu den einzelnen Einträgen in den Verfachbüchern,
            </li>
            <li>
              sowie systematische Beschreibungen von Verfachbucheinträgen mit Auflistungen von Besitzungen  (<a href="{% url 'webpage:staticpage' template='inventarbeschreibungen' %}">Inventaren</a>).
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
