{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}

<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters justify-content-md-center">
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h1>Personen und Orte</h1>
        <p>
          Eine große Herausforderung im Zusammenhang mit der Auswertung von (personenbezogenen) Massenquellen stellt die
          <ul>
            <li>Identifikation (Wer war eben im Titel genannte Hans Maier?),</li>
            <li>Disambiguierung (Ist der auf Seite 123 genannte Hans Maier derselbe Hans Maier wie der auf Seite 23?)</li>
            <li>und Referenzierung (Wie kann ich eindeutig ausdrücken, dass Hans Maier von Seite 123 derselbe Hans Maier wie der von Seite 23, aber nicht derselbe wie von Seite 44 ist?) von Personen dar.</li>
          </ul>
          Eine Herausforderung, die in frühneuzeitlichen Quellen durch die variablen Schreibweisen von Vor,- Nach-, Haus-, Hof- oder Ortsnamen sowie von Berufs- oder Rollenbezeichnungen noch zusätzlich verstärkt wird. 
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
