{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}

<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters justify-content-md-center">
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h1>Personen und Orte</h1>
        <p>
          Eine große Herausforderung im Zusammenhang mit der Auswertung von (personenbezogenen) Massenquellen stellt die
          <ul>
            <li>
              Identifikation (Wer war der in einer Quelle genannte Hans Maier?),
            </li>
            <li>
              Disambiguierung (Ist der auf Seite 123 genannte Hans Maier derselbe Hans Maier wie der auf Seite 200?)
            </li>
            <li>
              und Referenzierung (Wie kann ich eindeutig ausdrücken, dass Hans Maier von Seite 123 derselbe Hans Maier wie der von Seite 200, aber nicht derselbe wie der von Seite 44 ist?) von Personen dar.
            </li>
          </ul>
          Dies ist eine Herausforderung, die in frühneuzeitlichen Quellen durch die variablen Schreibweisen von Vor,- Nach-, Haus-, Hof- oder Ortsnamen sowie von Berufs- oder Rollenbezeichnungen noch zusätzlich vergrößert wird.
        </p>
        <p>
          Bei der Erstellung der Verfachbuchregeste sowie der Inventarbeschreibungen wurden Personen daher anhand
          <ul>
            <li>
              von verwandtschaftlichen Beziehungen (z. B. Tochter von …),
            </li>
            <li>
              der jeweiligen Funktion im Rechtsgeschäft (z. B. Schreiber ...),
            </li>
            <li>
              von Berufs- und/oder Standesbezeichnungen (z. B. Wirt und Bürger des Rates)
            </li>
            <li>
              sowie der Angaben zu Wohn- oder Wirkungsorten
            </li>
            so gut wie möglich identifiziert und disambiguiert.
          </ul>
        </p>
        <p>
          Dazu wurden sowohl die Namen (Vor-, Nach-, Mädchen-, Haus- oder Hofname) als auch die Berufs- und Tätigkeitsbezeichnungen der in den Quellen genannten Personen normalisiert beziehungsweise um gängige Schreibweisen erweitert, wie etwa das folgende Beispiel zeigt:
          <ul>
            <li>
              Mathes [Matthias/Matthäus] Porger [Porgger/Parger/Pargger] (Zimmermann), St. Veit in Prags (Oberamtsgericht Bruneck), (Vater der Ursula Porgerin [Porggerin/Pargerin/Parggerin])
            </li>
          </ul>
        </p>
        <p>
          Bei der Überführung der Daten aus ihren ursprünglichen Formaten (Word und Excel) wurde versucht, diese semistrukturierten Informationen wie eben Berufs- und Ortsbezeichnungen sowie (verwandtschaftliche) Beziehungen zwischen den genannten Personen zu extrahieren und als eigene Datensätze abzulegen. Aus dem ersten Beispiel entstanden somit unter anderem zwei Personen- und zwei Ortseinträge, die allesamt miteinander verknüpft sind.
        </p>
        <div class="card">
          <div class="card-header">Person</div>
          <div class="card-body">
            <table>
              <tr>
                <th>Vorname</th>
                <td>Mathes [Matthias/Matthäus]</td>
              </tr>
              <tr>
                <th>Nachname</th>
                <td>Porger [Porgger/Parger/Pargger]</td>
              </tr>
              <tr>
                <th>Beruf</th>
                <td>Zimmermann</td>
              </tr>
              <tr>
                <th>familiäre Verbindungen</th>
                <td>Vater von Ursula Porgerin [Porggerin/Pargerin/Parggerin]</td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
