{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}

<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters justify-content-md-center">
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h1>Regesten von Verfachbucheinträgen</h1>
        <p>
          Auf der Suche nach Einträgen in den Verfachbüchern mit Relevanz für das Projekt "Lesen im Alpental. Privater Buchbesitz in Tirol 1750-1800" mussten zwangsläufig sämtliche Verfachbücher des Untersuchungs(zeit)raums durchgeshen werden. Als interne Arbeitsbehelfe fertigen dabei Michael Span und Michael Prokosch Kurzregesten der einzelnen Verfachbucheinträge an, worin sie <ul>
            <li>
              neben dem Typ oder Art des im Eintrag beschriebenen Rechtsgeschäftes,
            </li>
            <li>
              auch die wichtigsten handelnden Personen
            </li>
            <li>sowie die genaue Stelle (Seitenzahl) des Eintrages im Verfachbuch</li>
            </ul>
          notierten.
        </p>
        <p>
          Hinsichtlich der Vollständigkeit der Regesten zu den Verfachbüchern des Landgerichts St. Michaelsburg muss jedoch einschränkend folgendes bemerkt werden: Aufgezeichnet wurden hier jene gerichtlichen Vorgänge, die potenziell die Erstellung eines Inventares veranlassen konnten. Die Auswahl erfolgte anhand der den Verfachbucheinträgen beigefügten "Kurztitel". Da diese mitunter nur rudimentäre Auskunft über die jeweiligen Einträge erteilen, ist mit gewissen Unschärfen zu rechnen. Definitiv vollständig verzeichnet sind hier jedoch jene Verfachbucheinträge, die Inventare enthalten. Das betrifft auch Fälle, in denen Inventare nicht "vollständig" vorhanden sind, respektive lediglich Teile der Habe einzelner Personen verzeichnet wurden.
        </p>
        <p>
          Diese als MS-Word Dokumente geführten Arbeitsbehelfe wurden dann von Peter Andorfer mit Hilfe diverse Scripte prozessiert und die darin gesammelten Informationen in eine Datenbank überführt mit dem Ziel, diese Forschungsdaten einerseits einem größeren Publikum zugänglich zu machen und andererseits quantiativ auswerten zu können.
        </p>
        <p>
          Die Strukturierung und Anreicherung der originär nur gering formaliserten Daten erfolgte weitgehend automatisch und ohne umfassende manuell kuratierende Eingriffe, was zur Folge hat, das die hier veröffentlichten Daten potentiell mit Fehlern behaftet sind, wie beispielsweise fälschliche Zuschreibungen von Vor- und Nachnamen von Personen, duplizierte Datensätze sowie falsche zusammengeführte Einträge. Eine fortlaufend manuelle Kuratierung der Daten ist jedoch angedacht.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
