{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block content %}

<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters justify-content-md-center">
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h1>Faksimiles und Volltexte</h1>
        <p>
        In etwa 200 Arbeitsstunden wurden rund 120 Verfachbuchbände im Südtiroler Landesarchiv in Bozen digital abgelichtet. Die dabei generierte Datenmenge beläuft sich auf über 53.000 Dateien beziehungsweise 270 Gigabyte.
        </p>
        <p>
          Die Bilder wurden anschließend von Martin Kirnbauer in <a href="https://transkribus.eu/">Transkribus</a> hochgeladen, wobei die Digitalisate der einzelnen Verfachbuchbände jeweils zu einem Transkribus-Dokument zusammengefasst und diese dann mit einigen wesentlichen Metadaten versehen wurden:
            <ul>
              <li>
                Vergabe eines repräsentativen Dokumententitels nach dem Muster <code>VVerfachbuch {Gericht}, Bd. {Bandnummer}, {Zeitraum}</code>, also beispielsweise <strong>Verfachbuch Oberamtsgericht Bruneck, Bd. 199, 1764/1765</strong>
              </li>
              <li>
                Nennung des Erzeugers der Digitalisate (Fotocredits)
              </li>
              <li>
                Datierung der Bandes <code>Date of writing From: DD/MM/YYYY To: DD/MM/YYYY</code>
              </li>
              <li>
                Übernahme allfälliger Anmerkungen zu Signatur und/oder Bandangabe
              </li>
            </ul>
        </p>
        <p>
          Ebenfalls von Martin Kirnbauer wurde anschließend eine Konkordanz zwischen den Transkribus-Dokumenten und den Datenbankeinträgen zu den Verfachbuch(objekten) der vorliegenden Webapplikation angelegt. Dies ermöglicht die Einbindung der Faksimiles in die Webapplikation.
        </p>
        <p>
          Abgesehen von der Veröffentlichung der Bilder werden mittels Transkribus auch Volltexte beziehungsweise Transkripte aus den Faksimiles generiert. Dafür wird, basierend auf Transkriptionen angefertigt von Michael Prokosch, Michael Span und Peter Andorfer, ein eigenes Modell zur Handschriftenerkennung trainiert. Da das derzeitige Modell aufgrund der noch geringen Menge an Trainingsmaterial noch nicht die gewünschte Qualität erreicht hat, wurde erst ein kleiner Teil der digitalisierten Verfachbücher prozessiert. Im Laufe des Jahres 2020 werden jedoch sukzessive mehr Volltexte zugänglich gemacht werden.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
